body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the body takes up the full viewport height */
}


.login-form {
    max-width: 500px;
    padding: 50px;
  }
  .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
  }

 